listen=YES
connect_from_port_20=YES
pam_service_name=vsftpd
anonymous_enable=YES
local_enable=YES
virtual_use_local_privs=YES
guest_enable=YES
hide_ids=YES
write_enable=YES
anon_root=/var/ftp/pub
anon_upload_enable=YES